doctype html

html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/index.css")
        link(rel="stylesheet" href="/colors.css")
        link(rel="stylesheet" href="/font.css")
        link(rel="icon" href="/favicon.svg")
        script(src="/index.js" type='text/javascript')

        title libresync

    body
        div(class="message")
            h1 libresync
            h2 A libre synced video player
            p Create a room below and share the URL with all other users.
            p libresync is free software! It is licenced under the terms of the third version of the GNU Affero General Public Licence only. 

            div
                input(type="text" id="room" placeholder="Edit room name: ")
                br

            button(id="join" onclick="joinRoom()") Create/Join room!