doctype html

html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/room.css")
        link(rel="stylesheet" href="/colors.css")
        link(rel="stylesheet" href="/icons.css")
        link(rel="stylesheet" href="/font.css")
        link(rel="icon" href="/favicon.svg")
        script(src="/room.js" type='text/javascript' defer)

        title Room #{room} | libresync

    body
        noscript WARNING: This application requires JavaScript to work. Note that this program is free software and the source code is publicly available.
        nav
            a(href="/") libresync
            p(id="username")
                span(id="usernameInp" contenteditable)
            p(id="roomname") #{room}
            button(id="share" onclick="share()") Share
        div(id="player-container")
            video(id="player" controls)
        div(id="bottombar")
            div(class="horizontal")
                input(type="text" placeholder="Enter video URL" id="url")
                button(onclick="submitVideo()") Submit
            div(class="horizontal" id="users")
        button(id="autoplay-popup" class="popup" onclick="autoplayPopupClose()")
            h1 Click anywhere!
            h2 This is required for autoplay to work.
        button(id="waiting-popup" class="popup")
            h1 Processing video
            h2 The server is processing the video. This might take some time.
        button(id="error-popup" class="popup" onclick="errorPopupClose()")
            h1 Error
            h2(id="error-msg") An error occured.