.message {
    z-index: 0;
    text-align: center;
    position: absolute;
    max-width: 45em;
}

body {
    background: linear-gradient(#11234ef1, black 150%), url("/pattern-black.png");
    background-color: #0541b1;
    background-attachment: fixed;
    background-size: cover, 15vw;
    color: white;
    position: absolute;
    inset: 0;
    display: flex;
    place-content: center;
    align-items: center;
    overflow: hidden;
}

h1 {
    margin: 0;
    font-size: 5em;
    font-weight: 800;
}

h2 {
    margin-top: 0.2em;
    margin-bottom: 1.5em;
}

p {
    margin: 0;
    margin-bottom: 0.5em;
    font-size: 1.3em;
    color: #c5c5c5;
    text-align: left;
}

input {
    margin-top: 1.5em;
    font-size: 1.3em;
    width: 20em;
    padding: 0.5em;
    color: whitesmoke;
    border: 0.15em solid var(--ac);
    background-color: rgb(16, 16, 16);
    font-weight: 500;
    outline: none;
}

input:focus {
    border-color: lightgray !important;
}

button, input {
    border-radius: 0.5em;
}

button {
    margin-top: 2em;
    font-size: large;
    width: 12em;
    padding: 0.75em;
    font-weight: bold;
    color: white;
    background-color: var(--ac);
    border: 0;
}

button:hover {
    filter: brightness(130%);
    cursor: pointer;
}


@media (max-width : 600px),
(max-height: 800px) {
    body {
        background-size: cover, 30vw;
    }
    h1 {
        font-size: 3em;
    }
    p {
        font-size: 1.1em;
    }
}

@media (max-width : 400px) {
    input {
        margin-top: 2em;
        font-size: 1.3em;
        width: 90%;
    }
}