* {
    color: var(--font-white);
}

body {
    margin: 0;
    background-color: var(--bg-dark);
    display: flex;
    flex-direction: column;
    height: 100dvh;
    width: 100dvw;
}

.horizontal input {
    background-color: var(--bg-mediumdark);
    border: none;
    border-radius: 0.5em 0 0 0.5em;
    padding: 1em;
    flex: 1;
    outline: none;
}

#player-container {
    display: flex;
    flex: 1;
    background-color: black;
    overflow: hidden;
    justify-content: center;
}

#player {
    max-width: 100%;
}

button {
    background-color: var(--ac);
    cursor: pointer;
    border: none;
    border-radius: 0.5em;
    width: 8em;
}

.horizontal {
    display: flex;
    flex-direction: row;
    margin: 1em;
}
.horizontal * {
    font-weight: 500;
    font-size: 1.25em;
}
.horizontal button {
    border-radius: 0 0.5em 0.5em 0;
}
#users {
    display: flex;
    gap: 1em;
}

.user {
    background-color: var(--bg-mediumdark);
    padding: 1em;
    border-radius: 0.5em;
}
.user p {
    margin: 0;
    text-align: center;
    font-size: 1em;
    color: grey;
}
.off-sync {
    background-color: #250000;
}
.off-sync p {
    color: red;
    font-weight: bold;
}

#bottombar {
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
}

nav {
    display: flex;
    background-color: var(--bg);
}
nav * {
    margin: 1em;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.25em;
}
nav #username {
    margin-left: auto;
}
nav button {
    margin-right: 0.25em !important;
    margin-top: 0.25em !important;
    margin-bottom: 0.25em !important;
}
nav * span {
    margin: 0;
    font-size: 1em;
}

.popup {
    display: none;
    position: absolute;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0,0,0,0.75);
}
.popup h1 {
    font-size: 5em;
    font-weight: 900;
}
#waiting-popup {
    cursor: default;
}

.user::before,
#username::before {
    content: "person";
}
#roomname::before {
    content: "meeting_room";
}
#share::before {
    content: "share";
}

button:hover, input:hover {
    filter: brightness(150%);
}
button:cli, input:hover {
    filter: brightness(150%);
}